/****************************************
 * General and Typography
 ****************************************/
body {
	font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3 {
	font-family: 'Lustria', serif;
}

header {
	text-align: center;
}

#schedules h3 {
	margin-top: 40px;
}

#schedules h3:first-of-type {
	margin-top: 20px;
}

.button-cell {
	text-align: center;
	background-color: #fff;
}

.add-worker {
	border-left: hidden !important;
	border-right: hidden !important;
}

.add-query {
	border-left: hidden !important;
	border-right: hidden !important;
	border-bottom: hidden !important;
}

.delete {
	border-top: hidden !important;
	border-bottom: hidden !important;
	border-right: hidden !important;
}

.schedule-manage {
	border: hidden !important;
	padding-top: 25px !important;
}

.button-schedule {
	font-size: 12px;
	margin-top: 30px;
}

.center-text {
	text-align: center;
}

/****************************************
 * Table Styling
 ****************************************/
.heading {
	font-family: 'Lustria', serif;
	font-size: 14px;
}

.cell-title {
	min-width: 120px;
}

.cell {
	font-size: 11px;
	min-width: 130px;
}

.cell span {
	margin-left: -1px;
	margin-right: -1px;
}

.set-off {
	float: right;
	border: 1px solid #ccc;
	width: 17px;
	text-align: center;
	color: #bbb;
}

.set-off:hover {
	background-color: #fff;
	color: #000;
}

.off:after {
	font-family: 'Lustria', serif;
	font-weight: 700;
	content: '~ OFF ~';
}

.spacer {
	padding-left: 3px;
	padding-right: 3px;
}