/****************************************
 * General and Typography
 ****************************************/
body {
	font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3 {
	font-family: 'Lustria', serif;
}

header {
	text-align: center;
}

.center-text {
	text-align: center;
}

.container {
	min-width: 96%;
}

/****************************************
 * Schedule section styles
 ****************************************/

.schedule:first-of-type {
	margin-top: 20px;
}

.schedule {
	background-color: #fcfcfc;
	border-radius: 4px;
	box-shadow: 1px 1px 3px 0px #b5b5b5;
	margin: 25px 0px 5px;
	padding: 10px;
	overflow-x: overlay;
	overflow-y: hidden;
}

.schedule h3 {
	margin: 10px 0px 15px;
}

.header-tab {
	position: relative;
	top: -20px;
	padding: 10px;
	border-radius: 0 0 6px 6px;
	box-shadow: 1px 1px 1px #bbb;
	background-color: #f1f1f1;
}

.table-tab {
	display: inline-block;
	padding: 5px;
	margin-right: -4px;
	background: #f1f1f1;
	border: 1px solid #ddd;
	border-bottom: 1px solid #999;
	border-radius: 4px 4px 0 0;
	vertical-align: bottom;
}

.table-tab:hover {
	background: #f1f1f1;
	border: 1px solid #f0ad4e;
	box-shadow: inset 0px 0px 3px 0px #f0ad4e;
}

.table-tab-selected {
	padding: 10px;
}

.button-worker {
	min-width: 30px;
	min-height: 30px;
}

.add-worker {
	border-left: hidden !important;
	border-right: hidden !important;
	background: #fcfcfc;
}

.add-query {
	border-left: hidden !important;
	border-right: hidden !important;
	border-bottom: hidden !important;
	background: #fcfcfc;
}

.manage-worker {
	display: table-cell;
	min-width: 200px !important;
	background: #fcfcfc;
	border-top: hidden !important;
	border-bottom: hidden !important;
	border-right: hidden !important;
}

.schedule-manage {
	margin-bottom: 20px;
	vertical-align: text-top;
}

.query-manage {
	border-top: hidden !important;
	border-right: hidden !important;
	border-bottom: hidden !important;
    padding-left: 0px !important;
}

.suite-manage {
	text-align: center;
	padding: 4px;
	margin-top: 6px;
}

.suite-manage span {
	margin: 0px 4px;
}

/****************************************
 * Schedule buttons
 ****************************************/

.sort-buttons {
	display: block;
	position: relative;
	top: -3px;
}

.sort-buttons button {
	font-size: 8px;
}

.button-schedule {
	font-size: 12px;
	margin-top: 30px;
}

.hanging-tab {
    position: relative;
    top: -5px;
    border-radius: 0 0 4px 4px;
    border-top: 1px solid #ddd;
    background: #f1f1f1;
}

.hanging-tab:hover {
	border: 1px solid #337ab7;
    box-shadow: inset 0px 0px 3px 0px #337ab7;
}

.right-tab {
    border-radius: 0 4px 4px 0;
}

.add-schedule {
	font-size: 60px;
	background: transparent;
	color: #999;
	margin: 5px 20px 0px;
	border: 0;
}

.add-schedule:hover {
	color: #337ab7;
}

.btn-green:hover {
	background-color: #5cb85c;
}

.btn-yellow:hover {
	background-color: #f0ad4e;
}

.btn-red:hover {
	background-color: #d9534f;
}

/****************************************
 * Table Styling
 ****************************************/
.table-bordered {
	border-bottom: hidden;
	border-right: hidden;
}

.heading {
	font-family: 'Lustria', serif;
	font-size: 14px;
}

.cell-title {
	min-width: 120px;
}

.cell {
	font-size: 10px;
	min-width: 90px;
	vertical-align: middle !important;
}

.cell span {
	margin-left: -1px;
	margin-right: -1px;
}

.empty-cell {
	border-top: hidden !important;
	border-bottom: hidden !important;
	background: #fcfcfc;
}

.time-off {
	min-height: 20px;
	text-align: center;
}

.set-off {
	font-size: 16px;
	color: #ddd;
}

.set-off:hover {
	color: #d9534f;
}

.off {
	font-family: 'Lustria', serif;
	font-weight: 700;
	font-size: 14px;
	color: #d9534f;
}

.range-cell {
	width: 160px;
}

.spacer {
	padding-left: 3px;
	padding-right: 3px;
}