/****************************************
 * General and Typography
 ****************************************/
body {
	font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3 {
	font-family: 'Lustria', serif;
}

header {
	text-align: center;
}

.container {
	min-width: 90%;
}

.schedule:first-of-type {
	margin-top: 20px;
}

.schedule {
	background-color: #fcfcfc;
	border-radius: 4px;
	box-shadow: 1px 1px 3px 0px #b5b5b5;
	margin: 25px 0px 5px;
	padding: 10px;
	overflow-x: overlay;
	overflow-y: hidden;
}

.button-worker {
	width: 30px;
	height: 30px;
}

.add-worker {
	border-left: hidden !important;
	border-right: hidden !important;
}

.add-query {
	border-left: hidden !important;
	border-right: hidden !important;
	border-bottom: hidden !important;
}

.manage-worker {
	display: inline-flex;
	min-width: 200px;
	border-top: hidden !important;
	border-bottom: hidden !important;
	border-right: hidden !important;
}

.schedule-manage {
	margin-bottom: 20px;
}

.query-manage {
	border-top: hidden !important;
	border-right: hidden !important;
	border-bottom: hidden !important;
}

.suite-manage {
	text-align: center;
	padding: 4px;
	margin-top: 6px;
}

.button-schedule {
	font-size: 12px;
	margin-top: 30px;
}

.hanging-tab {
    position: relative;
    top: -5px;
    border-radius: 0 0 4px 4px;
    box-shadow: inset 0px 1px 1px #444444;
}

.center-text {
	text-align: center;
}

/****************************************
 * Table Styling
 ****************************************/
.table-bordered {
	border-bottom: hidden;
	border-right: hidden;
}

.heading {
	font-family: 'Lustria', serif;
	font-size: 14px;
}

.sort-buttons {
	display: inline-block;
	position: relative;
	top: -3px;
}

.sort-buttons button {
	font-size: 8px;
}

.cell-title {
	min-width: 120px;
}

.cell {
	font-size: 10px;
	min-width: 102px;
	vertical-align: middle !important;
}

.cell span {
	margin-left: -1px;
	margin-right: -1px;
}

.empty-cell {
	border-top: hidden !important;
	border-bottom: hidden !important;
}

.set-off {
	float: right;
	border: 1px solid #ccc;
	width: 17px;
	text-align: center;
	color: #bbb;
}

.set-off:hover {
	background-color: #fff;
	color: #000;
}

.off:after {
	font-family: 'Lustria', serif;
	font-weight: 700;
	font-size: 14px;
	content: 'OFF';
	color: #d9534f;
}

.spacer {
	padding-left: 3px;
	padding-right: 3px;
}