/****************************************
 * General and Typography
 ****************************************/
body {
	font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3 {
	font-family: 'Lustria', serif;
}

header {
	text-align: center;
}

.button-worker {
	margin-top: -10px;
}

.button-schedule {
	font-size: 12px;
	margin-top: 30px;
}

/****************************************
 * Table Styling
 ****************************************/
.heading {
	font-family: 'Lustria', serif;
	font-size: 14px;
}

.cell-title {
	min-width: 120px;
}

.cell {
	font-size: 11px;
	min-width: 110px;
}

.cell input {
	max-width: 40%;
}