/****************************************
 * General and Typography
 ****************************************/
body {
	font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3 {
	font-family: 'Lustria', serif;
}

header {
	text-align: center;
}

.center-text {
	text-align: center;
}

.container {
	min-width: 96%;
}

.click-to-edit {
	display: inline;
}

#loader {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #fff;
	opacity: 0.95;
	text-align: center;
	z-index: 11111;
}

#loader h2 {
	position: relative;
	padding: 16px;
	border: 1px solid #333;
	border-radius: 2px;
	box-shadow: 1px 1px 1px #ccc;
	width: 50%;
	top: 25%;
	left: 25%;
	transform: translateY(-25%);
}

/****************************************
 * Schedule section styles
 ****************************************/

.schedule:first-of-type {
	margin-top: 20px;
}

.schedule {
	background-color: #fcfcfc;
	border-radius: 4px;
	box-shadow: 1px 1px 3px 0px #b5b5b5;
	margin: 25px 0px 5px;
	padding: 10px;
	overflow-x: overlay;
	overflow-y: hidden;
}

.schedule h3 {
	margin: 10px 0px 15px;
}

.header-tab {
	position: relative;
	top: -20px;
	padding: 10px;
	border-radius: 0 0 6px 6px;
	box-shadow: 1px 1px 1px #bbb;
	background-color: #f1f1f1;
}

.table-tab {
	display: inline-block;
	padding: 5px;
	margin-right: -4px;
	background: #f1f1f1;
	border: 1px solid #ddd;
	border-bottom: 1px solid #999;
	border-radius: 4px 4px 0 0;
	vertical-align: bottom;
}

.table-tab:hover {
	background: #f1f1f1;
	border: 1px solid #f0ad4e;
	box-shadow: inset 0px 0px 3px 0px #f0ad4e;
}

.table-tab-selected {
	padding: 10px;
}

.table-container {
	overflow-y: auto;
}

.button-worker {
	min-width: 30px;
	min-height: 30px;
}

.add-worker {
	border-left: hidden !important;
	border-right: hidden !important;
	background: #fcfcfc;
}

.add-query {
	border-left: hidden !important;
	border-right: hidden !important;
	border-bottom: hidden !important;
	background: #fcfcfc;
}

.manage-worker {
	display: table-cell;
	min-width: 200px !important;
	background: #fcfcfc;
	border-top: hidden !important;
	border-bottom: hidden !important;
	border-right: hidden !important;
}

.schedule-manage {
	margin-top: 10px;
	vertical-align: bottom;
}

.query-manage {
	border-top: hidden !important;
	border-right: hidden !important;
	border-bottom: hidden !important;
    padding-left: 0px !important;
}

.add-job {
	font-size: 14px;
	background: transparent;
	color: #333;
	border: 0;
}

.add-job:hover {
	color: #337ab7;
}

.suite-manage {
	text-align: center;
	padding: 4px;
	margin-top: 6px;
}

.suite-manage span {
	margin: 0px 4px;
}

/****************************************
 * Schedule buttons
 ****************************************/

.sort-buttons {
	display: block;
	position: relative;
	top: -3px;
}

.sort-buttons button {
	font-size: 8px;
}

.button-schedule {
	font-size: 12px;
	margin-top: 30px;
}

.hanging-tab {
    position: relative;
    top: -5px;
    border-radius: 0 0 4px 4px;
    border-top: 1px solid #ddd;
    background: #f1f1f1;
}

.hanging-tab:hover {
	border: 1px solid #337ab7;
    box-shadow: inset 0px 0px 3px 0px #337ab7;
}

.right-tab {
    border-radius: 0 4px 4px 0;
}

.add-schedule {
	font-size: 60px;
	background: transparent;
	color: #999;
	margin: 5px 20px 0px;
	border: 0;
}

.add-schedule:hover {
	color: #337ab7;
}

.select-job {
	display: block;
}

.btn-green:hover {
	background-color: #5cb85c;
}

.btn-yellow:hover {
	background-color: #f0ad4e;
}

.btn-red:hover {
	background-color: #d9534f;
}

.btn-blue:hover {
	background-color: #5bc0de;
}

/****************************************
 * Table Styling
 ****************************************/
.table-bordered {
	border-bottom: hidden;
	border-right: hidden;
}

.heading {
	font-family: 'Lustria', serif;
	font-size: 14px;
}

.cell {
	font-size: 10px;
	min-width: 90px;
	vertical-align: middle !important;
}

.cell span {
	margin-left: -1px;
	margin-right: -1px;
}

.larger {
	font-weight: 300;
	font-size: 13px;
}

.empty-cell {
	border-top: hidden !important;
	border-bottom: hidden !important;
	background: #fcfcfc;
}

.time-off {
	min-height: 28px;
	text-align: center;
}

.hours-submenu {
	display: inline;
	float: right;
	color: #ddd;
}

.hours-submenu:hover {
	color: #d9534f;
}

.hours-submenu li {
	padding: 4px 8px;
	font-size: 12px;
	color: #333;
}

.hours-submenu li:hover {
	background-color: #f1f1f1;
}

.disabled {
	color: #ccc !important;
}

.disabled:hover {
	color: #ccc !important;
	background-color: #fff !important;
}

.color-picker {
	display: inline-block;
	width: 10px;
	height: 10px;
	margin-right: 4px;
	border: 1px solid #999;
}

.set-off {
	float: left;
	font-size: 16px;
	color: #ddd;
}

.set-off:hover {
	color: #d9534f;
}

.off {
	font-family: 'Lustria', serif;
	font-weight: 700;
	font-size: 14px;
	color: #d9534f;
}

.time {
	display: block;
	padding: 4px;
	white-space: nowrap;
}

.options-toggle {
	color: #999;
	font-size: 18px;
}

.options-toggle:hover, .options-on {
	color: #d9534f;
}

.range-cell, .now-cell {
	width: 160px;
}

.options {
	width: 300px;
}

.option-cell {
	width: 60px;
}

.spacer {
	padding-left: 3px;
	padding-right: 3px;
}

.total-header {
	background-color: #f1f1f1;
	text-transform: uppercase;
	letter-spacing: 4px;
	padding: 0 !important;
}